body
{
  color: #343a40;
}

p
{
  font-size: 1.2rem;
}

h1
{
  font-size: 4.5rem;
  /* text-shadow: 2px 4px 0px white; */
  /* background: linear-gradient(-70deg, #b8cfda 50%, #dfe3eb 56%); */ /* #91adbb = background-color du header */
}

h3
{
  font-size: 3rem;
}

.fontSizeMd
{
  font-size: 1.2rem;
}

.header-bg
{
  /* background: linear-gradient(#91adbb 65%, #e4edf1 65%); */
  /* background: linear-gradient(#7291a1 10%, #91adbb 10%); */
  background: #91adbb;
}

.headerBlocs
{
  background-color: #eaecef;
}

.statusText
{
  font-size: 1.6rem;
  background: #eaecef;
}
.statusText a
{
  font-size: 1.2rem;
  color: black;
}


ul.skillsList li
{
  background-color: transparent;
  list-style-type: none;
  line-height: 2.2rem;
}





/* *********************************************************** PROJETS ************************************************ */

.projectsContainerFluid
{
  background: linear-gradient(#91adbb 6.5%, #b8cfda 6.5%); /* #e4edf1 6.5% si 2 projets, 4.6 pour 3 projets */
}

.sectionTitle  
{
  font-size: 4.5rem;
}

.projectEven, .projectOdd
{
  border-radius: 10px;
}

.projectEven
{
  background: linear-gradient(to right, transparent 10%, #e4edf1 10%);
  background: #e4edf1;
}

.projectOdd
{
  background: linear-gradient(to left, transparent 10%, #e4edf1 10%);
  background: #e4edf1;
}

.projectsAndCVButtons
{
  background: #5091bf;
  border-color: #5091bf;
}
.projectsAndCVButtons:hover
{
  background: #e4edf1;
  color: #5091bf;
}


/* *********************************************************** CONTACT ************************************************ */
.contactContainerFluid
{
  background: linear-gradient(#b8cfda 9%, #e4edf1 9%); 
}

.contactList li
{
  background: #e4edf1;
  font-size: 1.2rem;
}

.contactButtons
{
  list-style-type: none;
  text-align: center;
}

.contactButtons li
{
  font-size: 5rem;
}

.contactButtons .linkedinIcon
{
  color: #0077b5;
}

.contactButtons .githubIcon
{
  color: black;
}

.downloadCV
{
  font-size: 1.8rem;
}